<h1><%= @dealership.name %></h1>
<p>Dealer ID: <%= @dealership.id %></p>
<p>Customer Rating: <%= @dealership.rating %></p>
<p>In-House Financing: <%= @dealership.offers_financing %></p>
<p>Shuttle Service Available: <%= @dealership.offers_shuttle %></p>
<p>Total Inventory: <%= @dealership.vehicles_count %> <a href="/dealerships/<%= @dealership.id %>/vehicles">View Inventory</a>